/* Azeret Mono Font */
.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Header Section Styles */
.header-section{
    text-align: center;
    background-image: url(../assets/Hero-bg.png);
}
.header-img{
    width: 220px;
    height: 220px;
    margin-top: 26px;
    margin-bottom: 32px;
}
.header-title{
    font-size: 45px;
    font-weight: 800;
    color: #0D1321;
    margin: 0px 150px;
    margin-bottom: 25px;
}
.header-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    margin: 0px 290px 30px;
}
.header-button{
    margin-bottom: 50px;
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 18px 22px;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}


/* Main Part Styles */
.web-dev-full-section{
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
    border: none;
    width: 1020px;
    margin: 75px auto 80px;
    padding-bottom: 40px;
}
.web-dev-part{
    text-align: center;
}
.web-dev-title{
    font-size: 29px;
    font-weight: 800;
    color: #0D1321;
    padding: 65px 145px 0px;
}
.web-dev-description{
    font-size: 15px;
    font-weight: 400;
    color: #0D1321;
    padding: 0px 144px 30px;
}


/* Web Development Full Section Styles */
.web-dev-box{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    width: 860px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 16px;
    margin: 0px auto 30px;
    align-items: center;
}
.box-title{
    font-size: 22px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
    line-height: 36px;
    width: 350px;
    text-align: left;
    margin-bottom: 15px;
}
.box-description{
    font-size: 15px;
    font-weight: 400;
    color: #0D1321;
    line-height: 26px;
    width: 440px;
    text-align: left;
    margin-bottom: 25px;
}
.learn-more-btn{
    border: 1px solid #0D1321;
    background-color: transparent;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #0D1321;
    margin-bottom: 30px;
    cursor: pointer;
}
.box-image{
    width: 250x;
    height: 200px;
}


/* Reverse Box Styles (Box No.2) */
.reverse-items-box{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.reverse-items-box-title{
    font-size: 20px;
}


/* Inspiration Section Styles */
.inspire-section{
    text-align: center;
}
.inspire-title{
    font-size: 29px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 10px;
}
.inspire-description{
    font-size: 15px;
    font-weight: 400;
    color: #0D1321;
    margin: 20px 290px 40px;
}
.embed-video{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 15px;
    width: 900px;
    height: 500px;
    margin: auto;
    padding: 22px 20px;
    margin-bottom: 120px;
}
iframe{
    border-radius: 10px;
}


/* Target Section Styles */
.target-section-texts{
    text-align: center;
}
.target-section-title{
    font-size: 29px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 20px;
}
.target-section-description{
    font-size: 15px;
    font-weight: 400;
    color: #0D1321;
    margin: 0px 290px 40px;
    line-height: 23px;
}


/* Target 3 Boxes Styles */
.target-box-section{
    display: flex;
    justify-content: space-around;
    margin: 0px 120px 100px;
}
.target-box{
    background-color: rgba(255, 76, 30, 0.05);
    width: 240px;
    height: 220px;
    border-radius: 15px;
    padding: 30px 35px 0px;
}
.css-box-bg-color{
    background-color: rgba(0, 76, 232, 0.05);
}
.js-box-bg-color{
    background-color: rgba(255, 223, 0, 0.05);
}
.target-box-js-img{
    width: 50px;
    height: 48px;
}
.target-box-image{
    width: 50px;
    height: 50px;
    padding-top: 5px;
}
.target-box-title{
    font-size: 20px;
    font-weight: 800;
    color: #0D1321;
}
.target-box-description{
    font-size: 15px;
    font-weight: 400;
    color: #0D1321;
}
.target-box-learn-more{
    font-size: 15px;
    font-weight: bold;
    color: #0D1321;
}


/* Support Section Styles */
.support-section{
    background-image: url(../assets/handshake.jpg);
    background-size: auto;
    margin: 0 auto 70px;
    width: 990px;
    height: 265px;
    border-radius: 16px;
    /* background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); */
}
.support-section-title{
    font-size: 29px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0px;
}
.support-section-description{
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    gap: 14px;
}
form input[type="text"]{
    width: 430px;
    height: 48px;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
}
form input[type="submit"]{
    border-radius: 8px;
    border: none;
    width: 120px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
}


/* Footer Section */
.footer-section{
    display: flex;
    justify-content: space-around;
    background-color: rgba(13, 19, 33, 0.03);
    align-items: center;
    width: 100%;
}
.footer-section-text{
    font-size: 17px;
    font-weight: 600;
    color: #0D1321;
}
.footer-section-image{
    width: 22px;
    height: 22px;
    display: flex;
    gap: 20px;
}